*{
  background-color: rgb(49, 46, 46);
}
.center {
    height: 200px;
    font-size: 100px;
    line-height: 7;
    position: relative;
    text-align: center;
  }
  
  .center h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
div.container{
    display: flex;
    margin: 10px 10px;
    padding: 20px 20px;
    color: black;
    border: 1px dashed black;
    width:600px;
}